.header-container {
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}
.nav-bar {
  width: 95%;
  padding: 0 2.5%;

  .nav-list {
    display: flex;

    text-align: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    .nav-button {
      display: inline-block;
      font-size: 18px;
      padding: 20px 0;
      font-weight: 600;
      @media screen and (max-width: 800px) {
        padding: 10px 0;
      }
      .logo {
        font-family: "Dancing Script", cursive;
        font-size: 2rem;
      }

      a {
        color: #333;
        text-decoration: none;
        padding: 20px;

        @media screen and (max-width: 800px) {
          padding: 10px;
        }

        &:hover {
          background-color: #f5f5f5;
          border-radius: 5px;
        }
      }
    }
  }
}
